In [3]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [5]:
data = {
    'area':['2600','3000','3200','3600','4000'],
    'price':['550000','565000','610000','680000','725000']
}

In [8]:
df = pd.DataFrame(data)
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [9]:
df.to_csv('HousePriceData.csv')